#body {
#    padding: 0;
#    margin: 0;
#}

textarea {
	resize: none;
}

.unstyled-button {
	border: none;
	padding: 0;
	background: none;
}

.line {
	display: inline-block;
}

.rule-delete-button {
	display: inline-block;
}

.rule-col1 {
	width: 1%;
}

.rule-col2 {
	width: 10%;
}

.rule-col3 {
	width: 5%;
}

.rule-col4 {
	width: 16%;
}

.rule-col5 {
	width: auto;
	flex-grow: 100;
}

.cell {
	display: inline-block;
	border-width: thin;
	border-style: solid;
	border-color: blue;
	border-collapse: separate;
	border-spacing: 2px;
	background-color: lightgrey;
	border-radius: 5px;
	margin: 2px;
	text-align: center;
}

.table {
	display: table;
	width: 100%;
}

.table-line {
	width: 100%;
	display: flex;
}

.target-col1 {
	width: 3%;
}

.target-col2 {
	width: 40%;
}

.target-col3 {
	width: 13%;
}

.target-col4 {
	width: 13%;
}

.target-col5 {
	width: 13%;
}

.target-col6 {
	width: 20%;
}


